html,body,*
*{ 
    font-size: 62.5%;
    font-family: 'Staatliches', cursive;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    color: white;
    background-color: black;
    align-items: center;
}

h1{
    font-size: 5rem;
    margin-top: 3rem;
    text-align: center;
    text-shadow: rgb(78, 78, 78) .4rem .4rem;
    transition: ease-in-out 6s;
}
img{
    width: 45rem;
    height: 25.313rem;
    border-radius: 10%;
    box-shadow: rgb(92, 90, 90) .5rem .5rem;
    margin-top: 3rem;
    object-fit: cover;
    transition: ease-in-out 1s;
}
.homer{
    height: 10rem;
    position: absolute;
    top: 7rem;
}
.card-text{
    margin-top: 2rem;
    font-size: 2.5rem;
    text-align: center;
}
.gallery{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90vw;
    margin: auto;
    align-items: flex-start;
    margin-top: 6rem;
}

img:hover{
    transform: scale(2);
}
.card-text:hover{
    transform:scaleY(7);
}
h1:hover{
    transform: rotate(-1000000deg);
}
@media (max-width:768px){
    body{
        background-color: chocolate;
    }
}
@media (max-width: 375px){
    Body{
        color: burlywood;
        background-color: brown ;
    }
}
