html,body,*
*{ 
    font-size: 62.5%;
    font-family: 'Staatliches', cursive;
}
body{
    color: white;
    background-color: black;
    align-items: center;
}

h1{
    font-size: 5rem;
    text-align: center;
    text-shadow: rgb(78, 78, 78) .4rem .4rem;
}
img{
    width: 45rem;
    height: 25.313rem;
    border-radius: 10%;
    box-shadow: rgb(255, 255, 255) .5rem .5rem 1rem;
    margin-top: 3rem;
    object-fit: cover;
}
.text{
    font-size: 2rem;
    text-align: center;
    position: relative 1rem;
}
.gallery{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90vw;
    margin: auto;
    align-items: flex-start;
}