html,body,*{
    margin: auto;
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    background-color: brown;
    color: burlywood;
}
img{
    width: 20rem;
    object-fit: contain;
}
.card{
    display: ;
    justify-content: space-between;
    font-size: 10rem;
}